body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: blue;
}

main {
    flex: 1 0 auto;
}
/*Blog Posts*/

.blog-post {
    margin-bottom: 60px;
}

.blog-post-title {
    margin-bottom: 5px;
    font-size: 40px;
}

.blog-post-meta {
    margin-bottom: 20px;
    color: chartreuse;
    font-style: italic;
}